<section>
    <h1>Login</h1>
    <form action="/api/session/login" method="post" class="form-group">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <button>Enviar</button>
    </form>


</section>