<section>
    <h1>Registro</h1>
    <form action="/api/session/register" method="post" class="form-group">
    <input type="text" name="first_name" placeholder="first_name">
    <input type="text" name="last_name" placeholder="last_name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <button>Enviar</button>
    </form>


</section>